---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
    name: decypharr
spec:
    secretStoreRef:
        kind: ClusterSecretStore
        name: bitwarden-secretsmanager
    target:
        name: decypharr-secret
        template:
            engineVersion: v2
            data:
                # The complete JSON config file
                # "host": "https://api.real-debrid.com/rest/1.0",
                # "proxy": "http://warp.media.svc.cluster.local:9091",
                # "proxy": "socks5h://warp.media.svc.cluster.local:9091",
                config.json: |
                    {
                    "url_base": "/",
                    "port": "8282",
                    "log_level": "trace",
                    "debrids": [
                        {
                        "provider": "realdebrid",
                        "name": "realdebrid",
                        "api_key": "{{ .RD_API_KEY }}",
                        "download_api_keys": [
                            "{{ .RD_API_KEY }}"
                        ],
                        "rate_limit": "250/minute",
                        "unpack_rar": true,
                        "minimum_free_slot": 1,
                        "torrents_refresh_interval": "15s",
                        "download_links_refresh_interval": "40m",
                        "workers": 800,
                        "auto_expire_links_after": "3d"
                        }
                    ],
                    "arrs": [
                        {
                        "name": "sonarr",
                        "host": "http://sonarr.media.svc.cluster.local",
                        "token": "{{ .SONARR_API_KEY }}",
                        "download_uncached": false
                        },
                        {
                        "name": "sonarr4k",
                        "host": "http://sonarr4k.media.svc.cluster.local",
                        "token": "{{ .SONARR_API_KEY }}",
                        "download_uncached": false
                        },
                        {
                        "name": "radarr",
                        "host": "http://radarr.media.svc.cluster.local",
                        "token": "{{ .RADARR_API_KEY }}",
                        "download_uncached": false
                        },
                        {
                        "name": "radarr4k",
                        "host": "http://radarr4k.media.svc.cluster.local",
                        "token": "{{ .RADARR_API_KEY }}",
                        "download_uncached": false
                        }
                    ],
                    "repair": {
                        "enabled": true,
                        "interval": "24h",
                        "auto_process": true,
                        "workers": 1,
                        "strategy": "per_torrent"
                    },
                    "mount": {
                        "type": "none",
                        "mount_path": "/aio/remote/realdebrid",
                        "rclone": {
                            "rc_port": "5572",
                            "vfs_cache_mode": "off",
                            "vfs_cache_max_age": "1h",
                            "vfs_cache_poll_interval": "1m",
                            "vfs_read_chunk_size": "128M",
                            "vfs_read_chunk_size_limit": "off",
                            "vfs_read_ahead": "128k",
                            "async_read": false,
                            "attr_timeout": "1s",
                            "dir_cache_time": "5m",
                            "log_level": "INFO"
                        }
                    },
                    "allowed_file_types": [
                        "3gp",
                        "ac3",
                        "aiff",
                        "alac",
                        "amr",
                        "ape",
                        "asf",
                        "asx",
                        "avc",
                        "avi",
                        "bin",
                        "bivx",
                        "dat",
                        "divx",
                        "dts",
                        "dv",
                        "dvr-ms",
                        "flac",
                        "fli",
                        "flv",
                        "ifo",
                        "m2ts",
                        "m2v",
                        "m3u",
                        "m4a",
                        "m4p",
                        "m4v",
                        "mid",
                        "midi",
                        "mk3d",
                        "mka",
                        "mkv",
                        "mov",
                        "mp2",
                        "mp3",
                        "mp4",
                        "mpa",
                        "mpeg",
                        "mpg",
                        "nrg",
                        "nsv",
                        "nuv",
                        "ogg",
                        "ogm",
                        "ogv",
                        "pva",
                        "qt",
                        "ra",
                        "rm",
                        "rmvb",
                        "strm",
                        "svq3",
                        "ts",
                        "ty",
                        "viv",
                        "vob",
                        "voc",
                        "vp3",
                        "wav",
                        "webm",
                        "wma",
                        "wmv",
                        "wpl",
                        "wtv",
                        "wv",
                        "xvid"
                    ],
                    "remove_stalled_after": "10m",
                    "notifications": {
                        "enabled": true,
                        "webhook_url": "{{ .DISCORD_WEBHOOK }}"
                    },
                    "download_folder": "/aio/symlinks/decypharr",
                    "refresh_interval": "5s",
                    "categories": [
                        "sonarr",
                        "radarr",
                        "other"
                    ],
                    "folder_naming": "original_no_ext",
                    "default_download_action": "symlink",
                    "retries": 3
                    }
    dataFrom:
        - extract:
              key: decypharr
        - extract:
              key: sonarr
        - extract:
              key: radarr
