---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app decypharr
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chartRef:
    kind: OCIRepository
    name: decypharr
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      decypharr:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          config-init:
            image:
              repository: busybox
              tag: latest
            command:
              - sh
              - -c
              - cp /tmp/config/config.json /app/config.json && chmod 644 /app/config.json && chown -R 1000:1000 /app
        containers:
          app:
            image:
              repository: ghcr.io/sirrobot01/decypharr
              tag: beta@sha256:cb54f2decaae4bea245ab59b4e0b3e5e7ea689a9d9850b6dcd90b25a234b36dd
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
              runAsNonRoot: true
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
              fsGroupChangePolicy: OnRootMismatch

            # resources:
            #   requests:
            #     cpu: 100m
            #     memory: 1Gi

          debug:
            image:
              repository: alpine
              tag: latest@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
            command: ["sleep"]
            args: ["infinity"]
            #   securityContext:
            #     runAsNonRoot: false
            resources:
              # requests:
              #   cpu: 100m
              #   memory: 512Mi
              limits:
                memory: 512Mi

    defaultPodOptions:
      # securityContext:
      #   runAsNonRoot: true
      #   runAsUser: 1000
      #   runAsGroup: 1000
      #   fsGroup: 1000
      #   fsGroupChangePolicy: OnRootMismatch
      affinity:
        nodeAffinity:
          # Target specific node "hostsailor1"
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      # - hostsailor1
                      - oracle5
    service:
      app:
        controller: decypharr
        ports:
          http:
            port: 8282

    ingress:
      app:
        enabled: true
        className: traefik
        annotations:
          external-dns.alpha.kubernetes.io/target: "480p.com"
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.middlewares: network-tinyauth@kubernetescrd
        hosts:
          - host: &host "{{ .Release.Name }}.480p.com"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: 8282
        tls:
          - hosts:
              - *host
            secretName: "{{ .Release.Name }}-tls"
    persistence:
      app:
        existingClaim: decypharr
        globalMounts:
          - path: /app
      config:
        enabled: true
        type: secret
        name: decypharr-secret
        globalMounts:
          - path: /tmp/config
      symlinks:
        existingClaim: symlinks
        globalMounts:
          - path: /aio/symlinks
      rclone:
        existingClaim: pvc-rclone
        globalMounts:
          - path: /aio/remote/realdebrid
      logs:
        type: emptyDir
        globalMounts:
          - path: /app/logs
      warp:
        type: emptyDir
        globalMounts:
          - path: /etc/sing-box/
