---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app decypharr-restarter
spec:
  driftDetection:
    mode: enabled
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: decypharr-restarter
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    serviceAccount:
      decypharr-restarter:
        forceRename: decypharr-restarter
        annotations: {}
    controllers:
      decypharr-restarter:
        type: deployment
        annotations:
          reloader.stakater.com/auto: "true"
        serviceAccount:
          identifier: decypharr-restarter
        containers:
          app:
            image:
              repository: alpine/k8s
              tag: 1.35.0@sha256:b01ed7ee5807e1abce433fba29447595b6157851054a649c2aafd6c22a3aa16c
            command: ["/bin/bash"]
            args: ["-c", "/scripts/monitor-decypharr.sh"]
            # securityContext:
            #   allowPrivilegeEscalation: false
            #   readOnlyRootFilesystem: true
            #   capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 512Mi
    persistence:
      scripts:
        type: configMap
        name: monitor-scripts
        defaultMode: 0775
        globalMounts:
          - readOnly: true
      symlinks:
        existingClaim: symlinks
        globalMounts:
          - path: /aio/symlinks
      rclone:
        existingClaim: pvc-rclone
        globalMounts:
          - path: /aio/remote/realdebrid
      # app:
      #   existingClaim: decypharr
