---
clusterName: k2
endpoint: https://k2-talos.480p.com:6443
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.0-beta.0

allowSchedulingOnMasters: true
allowSchedulingOnControlPlanes: true
additionalApiServerCertSans:
  - k2-talos.480p.com
clusterPodNets:
  - 10.42.0.0/16
clusterSvcNets:
  - 10.43.0.0/16
cniConfig:
  name: none

domain: cluster.local
nodes:
  - hostname: gc1
    controlPlane: false
    ipAddress: 92.118.190.11
    installDiskSelector:
      size: <= 300GB
    networkInterfaces:
      - interface: ens3
        addresses:
          - 92.118.190.11/24
        dhcp: false
        routes:
          - gateway: 92.118.190.1
    certSANs:
      - gc1.brill-bebop.ts.net
      - gc1

  - hostname: gc5
    controlPlane: true
    ipAddress: 109.94.170.65
    installDiskSelector:
      size: <= 300GB
    networkInterfaces:
      - interface: ens3
        addresses:
          - 109.94.170.65/24
        dhcp: false
        routes:
          - gateway: 109.94.170.1
    certSANs:
      - gc5.brill-bebop.ts.net
      - gc5

  - hostname: gc7
    controlPlane: true
    ipAddress: 92.118.190.62
    installDiskSelector:
      size: <= 300GB
    networkInterfaces:
      - interface: ens3
        addresses:
          - 92.118.190.62/24
        dhcp: false
        routes:
          - gateway: 92.118.190.1
    certSANs:
      - gc7.brill-bebop.ts.net
      - gc7

  - hostname: terabit1
    controlPlane: false
    ipAddress: 165.140.203.148
    installDiskSelector:
      size: <= 300GB
    networkInterfaces:
      - interface: ens3
        addresses:
          - 165.140.203.148/25
        dhcp: false
        routes:
          - gateway: 165.140.203.129
    certSANs:
      - terabit1.brill-bebop.ts.net
      - terabit1

  - hostname: terabit2
    controlPlane: false
    ipAddress: 165.140.203.145
    installDiskSelector:
      size: <= 300GB
    networkInterfaces:
      - interface: ens3
        addresses:
          - 165.140.203.145/25
        dhcp: false
        routes:
          - gateway: 165.140.203.129
    certSANs:
      - terabit2.brill-bebop.ts.net
      - terabit2

  - hostname: oracle5
    controlPlane: true
    ipAddress: 158.101.165.67
    installDiskSelector:
      size: <= 300GB
    networkInterfaces:
      - interface: enp0s6
        addresses:
          - 158.101.165.67/32
          - 10.0.0.104/24
        dhcp: false
        routes:
          - gateway: 10.0.0.1
    certSANs:
      - oracle5.brill-bebop.ts.net
      - oracle5

  - hostname: prohost1
    controlPlane: false
    ipAddress: 77.90.3.174
    installDiskSelector:
      size: <= 300GB
    networkInterfaces:
      - interface: ens18
        addresses:
          - 77.90.3.174/24
        dhcp: false
        routes:
          - gateway: 77.90.3.1
    certSANs:
      - prohost1.brill-bebop.ts.net
      - prohost1

  - hostname: hostsailor1
    controlPlane: false
    ipAddress: 185.183.98.121
    installDiskSelector:
      size: <= 300GB
    networkInterfaces:
      - interface: ens3
        addresses:
          - 185.183.98.121/27
        dhcp: false
        routes:
          - gateway: 185.183.98.97
    certSANs:
      - hostsailor1.brill-bebop.ts.net
      - hostsailor1

patches:
  - |-
    machine:
      sysctls:
        net.core.rmem_max: 67108864
        net.core.wmem_max: 67108864
  - |-
    machine:
      network:
        nameservers:
          - 100.100.100.100 # tailscale dns
          - 2606:4700:4700::1111 # cloudflare 1111
          - 1.1.1.1

  - |-
    machine:
      kubelet:
        nodeIP:
          validSubnets:
            - 100.64.0.0/10
        # extraArgs:
        #     rotate-server-certificates: true
      time:
        servers:
          - time.cloudflare.com

  - |-
    cluster:
      discovery:
        enabled: false
  - |-
    machine:
      install:
        wipe: false
      features:
        rbac: true
        stableHostname: true
  - |-
    cluster:
      coreDNS:
        disabled: true
      proxy:
        disabled: true
      apiServer:
        disablePodSecurityPolicy: true
        auditPolicy:
          apiVersion: audit.k8s.io/v1
          kind: Policy
          rules:
            - level: Metadata

  - |-
    machine:
      kernel:
        modules:
          - name: ceph
          - name: nbd
          - name: rbd
controlPlane:
  extraManifests:
    - ./volumeconfig.yaml
    - ./firewall/all-cp.yaml
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/tailscale
  patches:
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 100.64.0.0/10
    - |-
      machine:
        nodeLabels:
          node.kubernetes.io/exclude-from-external-load-balancers:
            $$patch: delete
    - |-
      cluster:
        etcd:
          extraArgs:
            listen-metrics-urls: http://0.0.0.0:2381
        controllerManager:
          extraArgs:
            bind-address: 0.0.0.0
        scheduler:
          extraArgs:
            bind-address: 0.0.0.0

    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles: ["os:admin", "os:reader"]
            allowedKubernetesNamespaces: [ "kube-system", "actions-runner-system", "system-upgrade"]
  extensionServices:
    - name: tailscale
      environment:
        - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
        - TS_ACCEPT_DNS=false
        - TS_DISABLE_PORTMAPPER=1
        - TS_AUTH_ONCE=true
        - TS_EXTRA_ARGS=--accept-routes --snat-subnet-routes=false
worker:
  extraManifests:
    - ./volumeconfig.yaml
    - ./firewall/all-cp.yaml
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/tailscale
  extensionServices:
    - name: tailscale
      environment:
        - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
        - TS_ACCEPT_DNS=false
        - TS_DISABLE_PORTMAPPER=1
        - TS_AUTH_ONCE=true
        - TS_EXTRA_ARGS=--accept-routes --snat-subnet-routes=false
