---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app decypharr-sync-helper
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chartRef:
    kind: OCIRepository
    name: decypharr-sync-helper
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      decypharr-sync-helper:
        containers:
          app:
            image:
              repository: ghcr.io/herobrauni/decypharr-sync-helper
              tag: latest@sha256:00ba74e49cadd74dbe74dae79d67b211695668bbeb5ff1278d3a8d41e2064717
              pullPolicy: Always

            env:
              TZ: Europe/Berlin
              QB_SYNC_BASE_URL: "http://decypharr.media.svc.cluster.local:8282"
              QB_SYNC_CATEGORY: "other"
              QB_SYNC_DEST_PATH: "/aio/symlinks/other"
              QB_SYNC_POLL_INTERVAL: "60s"
              QB_SYNC_OPERATION: "hardlink"
              QB_SYNC_CROSS_DEVICE_FALLBACK: "error"
              QB_SYNC_DELETE_TORRENT: "true"
              QB_SYNC_DELETE_FILES: "false"
              QB_SYNC_PRESERVE_SUBFOLDER: "true"
              QB_SYNC_PLEX_ENABLED: "true"
              QB_SYNC_PLEX_URL: "http://plex.media.svc.cluster.local:32400"
              QB_SYNC_PLEX_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: decypharr-sync-helper-secret
                    key: QB_SYNC_PLEX_TOKEN
              QB_SYNC_NOTIFICATION_ENABLED: "true"
              QB_SYNC_NOTIFICATION_ON_SUCCESS: "true"
              QB_SYNC_NOTIFICATION_ON_ERROR: "true"
              QB_SYNC_SHOUTRRR_URLS:
                valueFrom:
                  secretKeyRef:
                    name: decypharr-sync-helper-secret
                    key: QB_SYNC_SHOUTRRR_URLS
              QB_SYNC_TELEGRAM_ENABLED: true
              QB_SYNC_TELEGRAM_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: decypharr-sync-helper-secret
                    key: TELEGRAM_BOT_TOKEN
              QB_SYNC_TELEGRAM_ALLOWED_USERS:
                valueFrom:
                  secretKeyRef:
                    name: decypharr-sync-helper-secret
                    key: TELEGRAM_ALLOWED_USERS

    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
    persistence:
      symlinks:
        existingClaim: symlinks
        globalMounts:
          - path: /aio/symlinks
      rclone:
        existingClaim: pvc-rclone
        globalMounts:
          - path: /aio/remote/realdebrid
            readOnly: true
