---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app warp
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chartRef:
    kind: OCIRepository
    name: warp
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      warp:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          warp:
            image:
              repository: ghcr.io/mon-ius/docker-warp-socks
              tag: latest@sha256:4295efac11981c39f5d898153d1df97db492cba5c7eb61ded24924989ca3efa9
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      # hostNetwork: true
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: decypharr
                    app.kubernetes.io/instance: decypharr
                topologyKey: kubernetes.io/hostname
    service:
      app:
        controller: warp
        ports:
          http:
            port: 9091
